<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>STF UP</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link" href="#">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="#">EC2</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="rds">RDS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="iot_core">IOT</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="s3">S3</a>
    </li>
</ul>
<h2>Get Status</h2>
<h3>EC2</h3>

<form action="/dashboard_action" method="post" target="_self">
    <input type="hidden" name="index_func" value="describe_ec2_instances">
    <button type="Get Info" class="btn btn-info">Get Info</button>
</form>

<table class="table table-striped table-sm table-dark">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Server</th>
        <th scope="col">Instance Type</th>
        <th scope="col">Instance ID</th>
        <th scope="col">Public Ip Address</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <% for (let i in index_table) { %>
    <tr>
        <th scope="row"><%= (i) %></th>
        <td><%= (index_table[i].name) %></td>
        <td><%= (index_table[i].instance_type) %></td>
        <td><%= (index_table[i].InstanceId) %></td>
        <td><%= (index_table[i].publicIPAddress) %></td>
        <td><%= (index_table[i].state_name) %></td>
        <td>
            <% if (index_table[i].state_code == 16) { %>
            <button type="button" onclick="myFunction('<%= (index_table[i].InstanceId) %>','<%= (index_table[i].state_code) %>', 'ec2')" class="btn btn-danger">STOP</button>
            <% } else  if (index_table[i].state_code == 80){ %>
            <button type="button" onclick="myFunction('<%= (index_table[i].InstanceId) %>', '<%= (index_table[i].state_code) %>', 'ec2')" class="btn btn-success">START</button>
            <% } else {%>
            ----
            <% } %>
        </td>
    </tr>
    <% } %>
    </tbody>
</table>


<script src="/smeTechBackEnd/dist/home.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
