<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>STF UP</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body onload="iot_pageload()">
<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link" href="/">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/">EC2</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="rds">RDS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="iot_core">IOT</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="s3">S3</a>
    </li>
</ul>
<h2>IOT Status</h2>



<!--<form action="/iot_list_action" method="post" target="_self">-->
    <!--<input type="hidden" name="index_func" value="list_iot_things">-->
    <button type="Get Info" class="btn btn-info" onclick="myIoTFunction(null, null, 'list_iot_things', null)">Get Info</button>

<!--</form>-->

<table class="table table-striped table-sm table-dark">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Thing Name</th>
        <th scope="col">ARN</th>
        <th scope="col">Action</th>
        <th scope="col">Publish</th>
        <th scope="col">Get</th>
        <th scope="col">get State</th>
    </tr>
    </thead>
    <tbody>
    <% for (let i in iot_table) { %>
    <tr>
        <th scope="row"><%= (i) %></th>
        <td><%= (iot_table[i].thingName) %></td>
        <td><%= (iot_table[i].thingArn) %></td>
        <td>
            <% if (iot_table[i].state === 'disconnected') { %>
            <button type="button" onclick="myIoTFunction('<%= (iot_table[i].thingName) %>','<%= (iot_table[i].thingArn) %>', 'iot_connect', '<%= (iot_table[i].state) %>')" class="btn btn-success">CONNECT</button>
            <% } else if (iot_table[i].state === 'connected') { %>
            <button type="button" onclick="myIoTFunction('<%= (iot_table[i].thingName) %>','<%= (iot_table[i].thingArn) %>', 'iot_connect', '<%= (iot_table[i].state) %>')" class="btn btn-success">DISCONNECT</button>
            <% } %>
        </td>
        <td>
            <% if (!(iot_table[i].state === 'connected')) { %>
            ----
            <% } else if (iot_table[i].state === 'connected') { %>
            <button type="button" onclick="myIoTFunction('<%= (iot_table[i].thingName) %>','<%= (iot_table[i].thingArn) %>', 'iot_update', '<%= (iot_table[i].state) %>')" class="btn btn-info">Publish</button>
            <% } %>
        </td>
        <td>
            <% if (!(iot_table[i].state === 'connected')) { %>
            ----
            <% } else if (iot_table[i].state === 'connected') { %>
            <button type="button" onclick="myIoTFunction('<%= (iot_table[i].thingName) %>','<%= (iot_table[i].thingArn) %>', 'get_iot', '<%= (iot_table[i].state) %>')" class="btn btn-info">Get</button>
            <% } %>
        </td>
        <td>
            <% if (!(iot_table[i].state === 'connected')) { %>
            ----
            <% } else if (iot_table[i].state === 'connected') { %>
            <button type="button" onclick="getIOTDBState('<%= (iot_table[i].thingName) %>')" class="btn btn-info">Test</button>
            <% } %>

        </td>

    </tr>
    <% } %>
    </tbody>
</table>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Input</label>
                <button type="button" onclick="generateRandomState()" class="btn btn-info">Generate Random</button>
                <textarea class="form-control" id="exampleFormControlTextarea1" onchange="checkJSONInput('exampleFormControlTextarea1')" rows="10"><%= (inputJSONText) %></textarea>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="exampleFormControlTextarea2">Output</label>
                <textarea class="form-control" id="exampleFormControlTextarea2" rows="10" readonly></textarea>
            </div>
        </div>

    </div>
</div>

<script src="/smeTechBackEnd/dist/iot_list.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<script>
<% if (iot_status_strings === null || iot_status_strings == "null" || iot_status_strings == "") { %>
    let iot_status_strings = null;
<% } else { %>
    let iot_status_strings = <%- (iot_status_strings) %>;
<% } %>
</script>


</body>
</html>