<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>STF UP</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link" href="/">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/">EC2</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="rds">RDS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="iot_core">IOT</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active"  href="s3">S3</a>
    </li>
</ul>
<h2>S3</h2>


<form action="/s3_action" method="post" target="_self">
    <input type="hidden" name="index_func" value="get_s3_buckets">
    <button type="Get Info" class="btn btn-info">Get Info</button>
</form>


<table class="table table-striped table-sm table-dark">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Created Date</th>
        <th scope="col">Created Time</th>
        <th scope="col">Bucket Name</th>

    </tr>
    </thead>
    <tbody>
    <% for (let i in s3_buckets) { %>
    <tr>
        <th scope="row"><%= (i) %></th>
        <td><%= (s3_buckets[i].s3_created_date) %></td>
        <td><%= (s3_buckets[i].s3_created_time) %></td>
        <td><%= (s3_buckets[i].s3_bucket_name) %></td>
    </tr>
    <% } %>
    </tbody>

</table>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>




</body>
</html>